{% extends "base.html" %}

{% block content %}
<h3>Add product</h3>

<form action = "{{ request.path }}" method = "post">

    <label for = "name">Name</label><br>
    <input type = "text" name = "name" required><br>
    
    <label for = "group">Group</label><br>
    <select name="group"><br>
        <option value="bike">Bike</option>
        <option value="car">Car</option>
      </select>
    
    <label for = "price">Price</label><br>
    <input type = "number" name = "price" min="1" required><br>
    
    <label for = "color">Color</label><br>
    <input type = "text" name = "color" 
    <select name="color">
        <option value="black">Black</option>
        <option value="blue">Blue</option>
        <option value="red">Red</option>
      </select>
    <br>
    
    <input type = "submit" value = "Submit" />
 </form>

{% endblock %}