{% extends "base.html" %}
{% block content %}
        <h1>Products</h1>
        <button><a href = "{{ url_for('add_product') }}">Add Products</a></button>
        <table>
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Group</th>
                  <th>Price</th>
                  <th>Color</th>
                  <th>Stock</th>
               </tr>
            </thead>
            
            <tbody>
               {% for product in products %}
                  <tr>
                     <td>{{ product.name }}</td>
                     <td>{{ product.group }}</td>
                     <td>{{ product.price }}</td>
                     <td>{{ product.color }}</td>
                     <td>{{ product.stock }}</td>
                     <td><a href="/update/{{product.id}}">Edit</a></td>
                     <td><button><a href="/delete_product/{{product.id}} onclick="return confirm('Are You Sure To Delete ?')">Delete</a></button></td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
    

{% endblock %}