<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki </title> 
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
      <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>


<header class="mb-auto">
    <div>
      <h3 class="nav nav-madsthead justify-content-center">Wiki</h3>
      <nav class="nav nav-madsthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        <a class="nav-link" href="{% url 'todo' %}">Todo</a>
    </div>
      {% include 'todo/messages.html' %}
  </header>




  <body>
        {% block content %}

        {% endblock %}
    </body>

</html>



