{% extends 'goldmetrics/base.html' %}

{% block content %} 

<table>
    <thead>
        <tr>
            <h3><th>Country</th></h3>
            <h3><th># of Medals</th></h3>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% if medals %}
            {% for medal in medals %}
            <tr>
                <td>{{medal.Country}}</td>
                <td>{{medal.medalcount}}</td>
                <td></td>
                <td><a href="{% url 'country_medal_detail' country=medal.Country %}">Details</a></td>
                
            </tr> 
            {% endfor %}      
    </tbody>
</table> 
        
        {% else %}
<h2>No medal in system</h2>
{% endif %}
</tbody>
</table>

{% endblock %}



