{% extends 'goldmetrics/base.html' %}

{% block content %} 

<div class="container">
    <main role="main" class="pb-3">
   
    <div>
        <a href="{% url 'country_medal' %}">Back to List</a>
    </div>
    <div>
        <hr>
        <dl class="row">
            <dt class="col-sm-2">
                Most Summer Wins
            </dt>
            <dd class="col-sm-10">
                {{summerwins.medalcount}}
            </dd>
            <dt class="col-sm-2">
                Most Winter wins
            </dt>
            <dd class="col-sm-10">
                
            </dd>
            <dt class="col-sm-2">
                Most Winter wins
            </dt>
            <dd class="col-sm-10">
                
            </dd>           
            <dt class="col-sm-2">
                Most Winter wins
            </dt>
            <dd class="col-sm-10">
                
            </dd> 
            <dt class="col-sm-2">
                Most Winter wins
            </dt>
            <dd class="col-sm-10">
                
            </dd> 
            <dt class="col-sm-2">
                Most Winter wins
            </dt>
            <dd class="col-sm-10">
                
            </dd>
            <dt class="col-sm-2">
                Most Winter wins
            </dt>
            <dd class="col-sm-10">
                
            </dd> 
            
            <dt class="col-sm-2">
                Most Winter wins
            </dt>
            <dd class="col-sm-10">
                
            </dd> 
            <dt class="col-sm-2">
                Most Winter wins
            </dt>
            <dd class="col-sm-10">
                
            </dd> 
            
        </dl>
    </div>
    </main>
</div>

{% endblock %}






