{% extends 'clubhouse/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
<h2>Articles</h2>

<p>
    <a href="{% url 'article_add' %}">
        <input type="submit" value="Add Article" class="btn btn-primary"> 
    </a>
</p>

<p>
    <form method="get" action="{% url 'article' %}">
        {% csrf_token %}
        <div class="form-actions no-color">
            <p>
                <div class="form-group">
                 <input type="search" name="search" aria-label="Search" placeholder="Search for Articles">
                    <input type="submit" value="Search" class="btn btn-secondary"> 
                    <a href="{% url 'article' %}">
                        <input type="submit" value="Back to full list" class="btn btn-secondary"> 
                    </a>
                </div>
            </p>
        </div>
    </form>
</p>




<table class="table">
    <thead>
        <tr>
            
            <th>Article</th>
            {% if user.is_authenticated %}
            <th>Author</th>
            {% endif %}
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        {% if articles %}
        {% for article in articles %}
             <tr> 
                <td><a href="{% url 'article_detail' article.slug %}">{{ article.title }}</td>
                {% if user.is_authenticated %}
                     <td> {{ article.author }} </td>  
                {% endif %}
                
            </tr> 
     </tbody>
             {% endfor %}
</table> 
</main> 
</div> 
     {% else %}
        <h2>No Articles</h2>
     {% endif %}
{% endblock %}