
rails_practice/sample_app/app/assets/images/rails.png
*.png
flask_project/ideaBox/app/templates/index.html
flask_project/ideaBox/app/routes.py
*.db
*.pyc
*.db
*.db
*.pyc
fullstack_side_projects/craigslist.txt
fullstack_side_projects/jobs_board.txt
fullstack_side_projects/pokedex/Data.zip
fullstack_side_projects/pokedex/README.md
fullstack_side_projects/pokedex/Data/pokemon.csv
fullstack_side_projects/pokedex/Data 2/pokemon.csv
*.sql
fullstack_side_projects/learning_journal/config/database.php
fullstack_side_projects/learning_journal/config/database.php
fullstack_side_projects/LevelUp/mineral_catalog/config/database.php
