
rails_practice/sample_app/app/assets/images/rails.png
*.png
flask_project/ideaBox/app/templates/index.html
flask_project/ideaBox/app/routes.py
*.db
*.pyc
*.db
*.db
*.pyc
fullstack_side_projects/craigslist.txt
fullstack_side_projects/jobs_board.txt
fullstack_side_projects/pokedex/Data.zip
fullstack_side_projects/pokedex/README.md
fullstack_side_projects/pokedex/Data/pokemon.csv
fullstack_side_projects/pokedex/Data 2/pokemon.csv
*.sql
fullstack_side_projects/learning_journal/config/database.php
fullstack_side_projects/learning_journal/config/database.php
fullstack_side_projects/LevelUp/mineral_catalog/config/database.php
*.py
*.arff
fullstack_projects/Business/vet_web_app/Feed Prescription Template SWINE.xlsm
fullstack_projects/Business/vet_web_app/RX, Sinke, GR Finisher, Tylan-40 & Posistac.doc
fullstack_projects/Business/vet_web_app/vet.txt
*.yaml
fullstack_projects/corteza/.env
fullstack_projects/the_scoop/test/test.js
fullstack_projects/the_scoop/app/static/js/bundle.js
fullstack_projects/the_scoop/venv/bin/activate
*.csh
fullstack_projects/web_Projects.txt
fullstack_projects/web_Projects.txt
fullstack_projects/expresso/project/todo.txt
fullstack_projects/expresso/todo.txt
django_projects/tango/db.sqlite3
*.sqlite3
django_projects/tango/db.sqlite3
*.sqlite3
