{% extends 'layout.html' %}

{% block title %}{{ super() }} - Home{% endblock %}

{% block header %}
<a class="button icon-right" href="{{ url_for('add_entry') }}" style="padding-right:30px;"><span>New Entry</span> <i class="material-icons">add</i></a>
{% endblock %}

{% block content %}

{% if journal %}
    <h1>{{ user.username }}'s Journal</h1><br>
    {% if tag %}
        <h3 style="text-align:center;">Here are your entries with the <u>{{ tag }}</u> tag</h3>
    {% else %}
    <h3 style="text-align:center;">Here are your most recent entries</h3>
    {% endif %}
    <div class="flex">
        <article>
            {% for entry in journal %}
                    <div class="card">
                        <h2><a href="{{ url_for('details', entry_id=entry.id, slug=entry.slug) }}">{{ entry.title|title }}</a></h2>
                        <p>
                            <time datetime="%Y-%m-%d">{{ entry.date|format_date }}</time>
                        </p>
                        <p>
                            Tags:
                            {% for tag in entry.tags|split_string %}
                                <a href="{{ url_for('tags', tag=tag|slugify) }}">{{ tag }}</a>
                            {% endfor %}
                        </p>
                    </div>
            {% endfor %}
        </article>
    </div>
{% else %}
    <h2 style="text-align:center;">Welcome {{ user.username }} to your new journal!</h2>
    <p style="text-align:center;">Click new entry button at the top right corner of this page to get started.</p>
{% endif %}
{% endblock %}
