{% extends 'layout.html' %}
{% from 'macros.html' import field_error, render_field %}

{% block title %}{{ super() }} - New Entry{% endblock %}

{% block content %}
<div class="new-entry">
    <h2>New Entry</h2>
    <form action="" method="POST" class="form">
        {{ form.hidden_tag() }}
        <label for="title"> Title</label>
        {{ field_error(form.title) }}
        <input id="title" type="text" name="title"><br>
        <label for="date">Date</label>
        {{ field_error(form.date) }}
        <input id="date" type="date" name="date"><br>
        <label for="time-spent">Time Spent</label>
        {{ field_error(form.time_spent) }}
        <input id="time-spent" type="text" name="time_spent"><br>
        <label for="what-i-learned">What I Learned</label>
        {{ field_error(form.learning) }}
        <textarea id="what-i-learned" rows="5" name="learning"></textarea>
        <label for="resources-to-remember">Resources to Remember</label>
        {{ field_error(form.resources) }}
        <textarea id="resources-to-remember" rows="5" name="resources"></textarea>
        {{ render_field(form.tags) }}

        <input type="submit" value="Publish Entry" class="button">
        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
