{% extends 'base.html' %}

{% block content %}

<h1>Add</h1>

<h4>Instructor</h4>
<hr/>

<div class="row">
    <div class="col-md-8">
        <form action="{{ url_for('instructor_add') }}" method="POST">
            <input type="hidden"  name="id" required="" value="{{instructor.id}}">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="First Name" class="control-label"></label>
                <input type ="text" name="first_name" required="" class="form-control" />
                <span asp-validation-for="FirstMidName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Last Name" class="control-label"></label>
                <input type = "text" name ="last_name" required="" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input type = "date" name = "hire_date" required = "" asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeAssignment.Location" class="control-label"></label>
                <input type = "text" name = "office_assignemnt" required = "" asp-for="OfficeAssignment.Location" class="form-control" />
                <span asp-validation-for="OfficeAssignment.Location" class="text-danger" />
            </div>

            <!---add code for course assignment-->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr></tr>
                        
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="{{url_for('instructors')}}">Back to Instructors</a>
</div>


{% endblock %}