{% extends 'beeInventory/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
<h2>Stock</h2>

<p>
    <a href="{% url 'stock_add' %}">Add product group</a>
</p>

<p>
    <form method="get" action="{% url 'stock_list' %}">
        {% csrf_token %}
        <div class="form-actions no-color">
            <p>
                <div class="form-group">
                 <input type="search" name="search" aria-label="Search" placeholder="Search stock">
                    <input type="submit" value="Search" class="btn btn-primary"> |
                    <a href="{% url 'stock_list' %}">Back to Full List</a>
                </div>
            </p>
        </div>
    </form>
</p>




<table class="table">
    <thead>
        <tr>
            
            <th>Product</th>
            <th>Quantity</th>
            
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        {% if stocks %}
        {% for stock in stocks %}
             <tr> 
                 
                <td> {{ stock.product }} </td>  
                <td> {{ stock.quantity }} </td>  
                
                <td> 
                    <a href="{% url 'stock_edit' stock.pk %}">Edit</a>| 
                    <a href="{% url 'stock_delete' stock.pk %}">Delete</a> 
                </td>
            </tr> 
     </tbody>
             {% endfor %}
</table> <br><p>
     {% else %}
        <h4>No stocks</h4>
     {% endif %}
 </p>
</main> 
</div> 

 <!--Pagination-->
      <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if stock.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ stocks.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ stocks.number }} of {{ stocks.paginator.num_pages }}
                </span>

              {% if stocks.has_next %}
                  <a href="?page={{ stocks.next_page_number }}">next</a>
                  <a href="?page={{ stocks.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>
      <!--end of Pagination-->

{% endblock %}