{% extends 'base.html' %}

{% block content %}

title, credits, course_id

<h2>Courses</h2>
<p>
    <a href="{{url_for('course_add')}}">Create New</a>
</p>

<!--drop down for course-->

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Credits</th>
            <th>course ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
            <tr>
                <td>{{course.title}}</td>
                <td>{{course.credits}}</td>
                <td>{{course.course_id}}</td>
                <td><a href="courses/view/{{course.id}}">View</a></td>|
                <td><a href="courses/edit/{{course.id}}">Edit</a></td>|
                <td><a href="courses/delete/{{course.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>   
</table>

{% endblock %}
