{% extends 'base.html' %}

{% block content %}

<h2>Instructors</h2>
<p>
    <a href="{{url_for('instructor_add')}}">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for instructor in instructors %}
            <tr>
                <td>{{instructor.first_name}}</td>
                <td>{{instructor.last_name}}</td>
                <td>{{instructor.hire_date}}</td>
                <td>{{instructor.office_assignment}}</td>
                <td>{{instructor.course_assignments}}</td>
                <td><a href="instructors/view/{{instructor.id}}">View</a></td>|
                <td><a href="instructors/edit/{{instructor.id}}">Edit</a></td>|
                <td><a href="instructors/delete/{{instructor.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>   
</table>

{% endblock %}

