{% extends 'events/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
<h2>Events</h2>

<p>
    <a href="{% url 'add_event' %}">Create A New  Event</a>
</p>

<p>
    <form method="get" action="{% url 'event' %}">
        {% csrf_token %}
        <div class="form-actions no-color">
            <p>
                <div class="form-group">
                 <input type="search" name="search" aria-label="Search" placeholder="Search for event">
                    <input type="submit" value="Search" class="btn btn-primary"> |
                    <a href="{% url 'event' %}">Back to Full List</a>
                </div>
            </p>
        </div>
    </form>
</p>




<table class="table">
    <thead>
        <tr>
            

            <th>Comp</th>
            <th>Event Stem</th>
            <th>Event Code</th>
            <th>Event Date Begin</th>
            <th>Event Type</th>
            <th>Event Name</th>
            <th>Metric</th>
            <th>Location</th>
            <th>SPE Office</th>
            <th>Actuals</th>
            <th>Budget</th>
            <th>Forecast Amount</th>
            <th>Forecast Comments</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        {% if events %}
        	{% for event in events %}
             <tr> 
 
                <!------<td> {{ event.COMP }} </td> ----->
                <td> {{ event.EVENT_STEM }} </td> 
                <td> {{ event.EVENT_CODE }} </td> 
                <td> {{ event.EVENT_DATE_BEGIN }} </td> 
                <td> {{ event.EVENT_TYPE }} </td> 
                <td> {{ event.EVENT_NAME }} </td> 
                <td> {{ event.METRIC }} </td> 
                <td> {{ event.LOCATION }} </td> 
                <td> {{ event.SPE_OFFICE }} </td> 
                <td> {{ event.ACTUALS }} </td> 
                <td> {{ event.BUDGET }} </td>     
                <td> {{ event.FORECAST_AMT }} </td> 
                <td> {{ event.FORECAST_COMMENTS }} </td>             
                <td> 
                    <a href="{% url 'edit_event'   pk=event.pk %}">Edit</a> | 
                    <a href="{% url 'detail_event' pk=event.pk %}">Details</a> | 
                    <a href="{% url 'delete_event' pk=event.pk %}">Delete</a> 
                </td>
            </tr> 
     </tbody>
             {% endfor %}
</table> 
</main> 
     {% else %}
        <h2>No event data in the system</h2>
     {% endif %}
</div> 

{% endblock %}