{% extends 'events/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
            
<div class="jumbotron">
    <h1>Event App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Event application</h2>
        <p>
            - It provides the ability to view, edit and delete events
        </p>
        <p> - You can also import and export event information</p>
    </div>
    <div class="col-md-4">
        <h2>Build</h2>
        <p>
            The application was built using Django and Bootstrap
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build Proces</h2>
        <p>You can see the source code located here.<a class="btn btn-default" target="_blank" href="">Github</a></p>
    </div>

</div>
        </main>
    </div>

{% endblock %}

   

