
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodworks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<header class="mb-auto">
          {% include 'foodworks/messages.html' %}
  </header>

<body>
  

<div class="wrapper">
    <div class="header">
      <h1>FoodWorks</h1>
      <p>Your Online Grocery</p>
    </div>

    <p style="color: green"></p>

    <div class="sidebar">
      {% block sidebar %}{% endblock %}
    </div>

    <div class="main">
		{% block content %}{% endblock %}
    </div>



   <div class="footer">
      FoodWorks Online Grocery<br/>
      A Jumpstart Project
    </div>
</div>
</body>
</html>

