{% extends 'foodworks/base.html' %}

{% block content %}
<p><h1>Listing products</h1><br></p>

<div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Stock</th>
      <th></th>
    </tr>
  </thead>

<tbody>
  {% if products %}
    {% for product in products %}
    <tr>
      <td>{{ product.title }}</td>
      <td>${{ product.price }}</td>
      <td>{{ product.stock }}</td>
      
      <td><a href="{% url 'product_detail' product.pk%}">Detail</a>|
      <a href="{% url 'product_edit' product.pk %}">Update</a>|
      <a href="{% url 'product_delete' product.pk %}">Delete</a></td>

    </tr>
    {% endfor %}
   {% else %}
      
   {% endif %}
</tbody>
</table>  
</div>


<p><a href="{% url 'product_add' %}"><button>Add Product</button></a></p>



{% endblock %}