{% extends 'foodworks/base.html' %}

{% block content %}
<h1>Listing products</h1>

<p><button><a href="{ static 'add_product'}">Add Product</a></button></p>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Stock</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
  {% if products %}
    {% for product in products %}
    <tr>
      <td>{{ product.title }}</td>
      <td>${{ product.price }}</td>
      <td>{{ product.stock }}</td>
      <td><a href="">View</a></td>
      <td><a href="">Edit</a></td>
      <td><a href="">Delete</a></td>
    </tr>
    {% endfor %}
   {% else %}
      <h4>No products in the data base</h4>
   {% endif %}
</tbody>
</table>


</table>


{% endblock %}