{% extends 'foodworks/base.html' %}

{% block content %}
<div class="container">
    <main role="main" class="pb-3">
<h1>Add Product</h1><hr>
    
{% load crispy_forms_tags %} 

    <form method="post">
        {% csrf_token %}
            {{form|crispy}}
            <br><div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"> 
            </div>
            <div>
                
                    <a href="{% url 'index' %}">Back to List</a>
            </div>
    </form>

</main>
</div>



{% endblock %}





