
{% block content %}
<form action="/view/{{product.id}}?_method=PATCH" method="POST">

  <label>Title</label><br>
  <input type="text" name="title" required="" value="{{product.title}}"><br>
      
  <label>Price</label><br>
  <input type="number" min="1" name="price" required="" value="{{product.price}}"><br>
      
  <label>Description</label><br>
  <input name="description" required="" value="{{product.description}}"></input><br>

  <label>Stock</label><br>
  <input type="number" min="1" name="stock" step = 1 required="" value="{{product.stock}}"><br>

  <label>Images</label><br>
  <img src="/static/images/{{ product.image_url }}" width="75" height="55"></img><br>

</form>

<p><button><a href="{{ url_for('index') }}">Products</a></button></p>


{% endblock %}