<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BeeInventory </title> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>

<!-- Side navigation -->
<div class="sidenav">
  <a href="#">Home</a>
  <a href="#">Category</a>
  <a href="#">Products</a>
  <a href="#">Stock</a>
  <a href="#">Orders</a>
</div>


  <body>
        {% block content %}

        {% endblock %}
    </body>

</html>