{% extends 'beeInventory/base.html' %}

{% block content %}
<div class="container">
        <main role="main" class="pb-3">
            
<div class="jumbotron">
    <h1 class="nav nav-madsthead justify-content-center">Bee Inventory</h1>
</div>

<div >
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Product</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{product.product_count}}<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Product Groups</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{productgroup.productgroup_count}}<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Orders</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{order.order_count}}<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              
            </ul>
            
          </div>
        </div>
      </div>
    </div>

   
    </div>
  </main>

</div>




        </main>
    </div>
{% endblock %}