{% extends 'beeInventory/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
<h2>Variants</h2>

<p>
    <a href="{% url 'variant_add' %}">Add Variant</a>
</p>

<p>
    <form method="get" action="{% url 'variant_list' %}">
        {% csrf_token %}
        <div class="form-actions no-color">
            <p>
                <div class="form-group">
                 <input type="search" name="search" aria-label="Search" placeholder="Search variant">
                    <input type="submit" value="Search" class="btn btn-primary"> |
                    <a href="{% url 'variant_list' %}">Back to Full List</a>
                </div>
            </p>
        </div>
    </form>
</p>




<table class="table">
    <thead>
        <tr>
            
            <th>Name</th>
            
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        {% if variants %}
        {% for variant in variants %}
             <tr> 
                 
                <td> {{ variant.name }} </td>  
                
                <td> 
                    <a href="{% url 'variant_delete' variant.pk %}">Delete</a> 
                </td>
            </tr> 
     </tbody>
             {% endfor %}
</table> <br><p>
     {% else %}
        <h4>No Variants</h4>
     {% endif %}
 </p>
</main> 
</div> 

 <!--Pagination-->
      <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if variant.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ variants.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ variants.number }} of {{ variants.paginator.num_pages }}
                </span>

              {% if variants.has_next %}
                  <a href="?page={{ variants.next_page_number }}">next</a>
                  <a href="?page={{ variants.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>
      <!--end of Pagination-->

{% endblock %}