{% extends 'contoso_university/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
            

<h2>Student Body Statistics</h2>


<table class="table">
    <thead>
        <tr>
            <th>Enrollment Date</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        {% if students %}
            {% for student in students %}
             <tr> 
                <td> {{ }} </td> 
                <td> {{  }} </td> 
            </tr>
    </tbody>
        {% endfor %}
</table>

</main>
</div>
     {% else %}
        <h2>No Calculations in system </h2>
     {% endif %}
{% endblock %}