{% extends 'contoso_university/base.html' %}

{% block content %} 
<div class="container"> 
<main role="main" class="pb-3">
<h2>Courses</h2>

<p> <a href="{% url 'courses_create' %}">Create New</a> </p> 
<table class="table"> 
	<thead> 
		<tr> 
			<th> Number </th>
			<th> Title </th> 
			<th> Department </th> 
			<th></th> 
		</tr> 
	</thead> 
	<tbody>
		{% if courses %}
	 		{% for course in courses %}
			 <tr> 
			 	<td> {{ course.id }} </td> 
			 	<td> {{ course.course_title }} </td> 
			 	<td> {{ course.course_department_name }} </td> 
			 	<td>  </td> 
			 	<td> 
					<a href="{% url 'courses_edit' pk=course.pk %}">Edit</a> | 
					<a href="{% url 'courses_detail' pk=course.pk %}">Details</a> | 
					<a href="{% url 'courses_delete' pk=course.pk %}">Delete</a> 
				</td>
			</tr> 
			</tbody>
			{% endfor %}
		</table> 
		</main> 
		</div> 
     {% else %}
     	<h2>No Courses currently in the system</h2>
     {% endif %}

{% endblock %}

