{% extends 'contoso_university/base.html' %}

{% block content %} 
<div class="container"> 
<main role="main" class="pb-3">
<h2>Courses</h2>

<p> <a href="{% url 'courses_create' %}">Create New</a> </p> 
<table class="table"> 
	<thead> 
		<tr> 
			<th> Number </th>
			<th> Title </th> 
			<th> Credits </th> 
			<th> Department </th> 
			<th></th> 
		</tr> 
	</thead> 
	<tbody>
			 {% if courses %}
	 	{% for course in courses %}
			 <tr> 
			 	<td> {{ course_title }} </td> 
			 	<td> {{ course_credits }} </td> 
			 	<td> {{ course_department_name }} </td> 
			 	<td>  </td> 
			 	<td> 
					<a href="">Edit</a> | 
					<a href="">Details</a> | 
					<a href="">Delete</a> 
				</td>
			</tr> 
			</tbody>
		</table> 
		</main> 
		</div> 

        {% endfor %}
     {% else %}
     	<h2>No Courses currently in the system</h2>
     {% endif %}




{% endblock %}

