{% extends 'contoso_university/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
           
<h1>Departments</h1>

<p>
    <a href="">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Budget
            </th>
            <th>
                Start Date
            </th>
            <th>
                RowVersion
            </th>
            <th>
                Administrator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

        </main>
    </div>

{% endblock %}