{% extends 'contoso_university/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
            

<h2>Delete</h2>

<p class="text-danger"></p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department</h4>
    <hr>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            12121
        </dd>
        <dt class="col-sm-2">
            Budget
        </dt>
        <dd class="col-sm-10">
            $22,222.00
        </dd>
        <dt class="col-sm-2">
            Start Date
        </dt>
        <dd class="col-sm-10">
            2021-03-24
        </dd>
        <dt class="col-sm-2">
            Administrator
        </dt>
        <dd class="col-sm-10">
            Schrute, Dwight
        </dd>
    </dl>

    <form action="/ContosoUniversity/Departments/Delete/2" method="post">
        <input type="hidden" data-val="true" data-val-required="The DepartmentID field is required." id="DepartmentID" name="DepartmentID" value="2">
        <input type="hidden" id="RowVersion" name="RowVersion" value="">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"> |
            <a href="/ContosoUniversity/Departments">Back to List</a>
        </div>
    </form>
</div>

        </main>
    </div>

   {% endblock %}