{% extends 'contoso_university/base.html' %}

{% block content %}
<div class="container">
        <main role="main" class="pb-3">
            

<h2>Instructors</h2>

<p>
    <a href="/ContosoUniversity/Instructors/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr class="success">
                <td>
                    Schrute
                </td>
                <td>
                    Dwight
                </td>
                <td>
                    2021-03-02
                </td>
                <td>
Scranton                </td>
                <td>
                </td>
                <td>
                    <a href="/ContosoUniversity/Instructors/Index/2">Select</a> |
                    <a href="/ContosoUniversity/Instructors/Edit/2">Edit</a> |
                    <a href="/ContosoUniversity/Instructors/Details/2">Details</a> |
                    <a href="/ContosoUniversity/Instructors/Delete/2">Delete</a>
                </td>
            </tr>
    </tbody>
</table>

    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tbody><tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>


    </tbody></table>


        </main>
    </div>
{% endblock %}