{% extends 'contoso_university/base.html' %}

{% block content %}
<div class="container">
        <main role="main" class="pb-3">
            

<h1>Create</h1>

<h4>Student</h4>
<hr>
<div class="row">
    <div class="col-md-4">
        <form action=" % url 'students_create' %} " method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="form-group">
                    {{form.as_p }}
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div>
    <a href="{% url 'students' %}">Back to List</a>
</div>


        </main>
    </div>
{% endblock %}