{% extends 'contoso_university/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
            

<h2>Students</h2>

<p>
    <a href="">Create New</a>
</p>

<form method="get" action="">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString">
            <input type="submit" value="Search" class="btn btn-default"> |
            <a href="">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="">Last Name</a>
            </th>
            <th>
                First Name
            </th>
            <th>
                <a href="">Enrollment Date</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                
    </tbody>
</table>



        </main>
    </div>

{% endblock %}