{% extends 'base.html' %}

{% block countrylist %}


  <table className="country-table">
    <thead>
      <tr className="table-header country-header">
        <th>
          <form method="POST">
            <a href="{{ url_for('index') }}"><img className="sort" alt="Sort Ascending" name = "country_upwards" src="static/img/up.svg"/></a>

          </form>
          <form method="POST"></form>
          <form method="POST"></form>
          COUNTRY

          
          <img className="sort" alt="Sort Descending" src="static/img/down.svg"  />
        </th>
        <th>GDP
          <img className="sort" alt="Sort Ascending" src="static/img/up.svg" />
          <img className="sort" alt="Sort Descending" src="static/img/down.svg" />
        </th>
        <th>POPULATION
          <img className="sort" alt="Sort Ascending" src="static/img/up.svg" />
          <img className="sort" alt="Sort Descending" src="static/img/down.svg" />
        </th>
      </tr>
    </thead>

    <tbody>
      {% for country in countries %}
      <tr>
        <td>{{ country.Country }}</td>
        <td>{{ country.GDP }}</td>
        <td>{{ country.Population }}</td>
        <td ><a href="/countrydetails/{{ country.Country }}">Country Detail</a></td>
      </tr>
      {% endfor %}
    </tbody>

  </table>





  {% endblock %}