{% extends 'base.html' %}

{% block countrylist %}

  <table className="country-table">
    <thead>
      <tr className="table-header country-header">
        <th>COUNTRY
            <input type="image" value = "country_upwards" src="static/img/up.svg" name = "country_upwards" className="sort" alt="Sort Ascending"/>
            <input type="image" value = "country_downwards" src="static/img/down.svg" name = "country_downwards" className="sort" alt="Sort Descending"/>  
        </th>
        <th>GDP
          <img className="sort" alt="Sort Ascending" src="static/img/up.svg" />
          <img className="sort" alt="Sort Descending" src="static/img/down.svg" />
        </th>
        <th>POPULATION
          <img className="sort" alt="Sort Ascending" src="static/img/up.svg" />
          <img className="sort" alt="Sort Descending" src="static/img/down.svg" />
        </th>
      </tr>
    </thead>

    <tbody>
      {% for country in countries %}
      <tr>
        <td>{{ country.Country }}</td>
        <td>{{ country.GDP }}</td>
        <td>{{ country.Population }}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
  {% endblock %}