{% extends 'base.html' %}

{% block goldmedallist %} 

<tr key={index}>
    <td>{medal.year}</td>
    <td>{medal.season}</td>
    <td>{medal.city}</td>
    <td>{medal.name}</td>
    <td>{medal.event}</td>
</tr>

<div>
    <h2 className="subheader">GOLD MEDAL LIST</h2>
    <table className="gold-medal-table">
      <thead>
        <tr className="table-header medal-header">
          <th>YEAR WON
            <img className="sort" alt="Sort Ascending" src="img/up.svg"/>
            <img className="sort" alt="Sort Descending" src="img/down.svg"/>
          </th>
          <th>CITY
            <img className="sort" alt="Sort Ascending" src="img/up.svg"/>
            <img className="sort" alt="Sort Descending" src="img/down.svg"/>
          </th>
          <th>MEDAL WINNER NAME
            <img className="sort" alt="Sort Ascending" src="img/up.svg"/>
            <img className="sort" alt="Sort Descending" src="img/down.svg"/>
          </th>
          <th>EVENT
            <img className="sort" alt="Sort Ascending" src="img/up.svg" />
            <img className="sort" alt="Sort Descending" src="img/down.svg"/>
          </th>
        </tr>
      </thead>

      <tbody>
        {% for medal in medals %}
        <tr>
          <td>{{ medal.Year }}</td>
          <td>{{ medal.City }}</td>
          <td>{{ medal.Athlete }}</td>
          <td>{{ medal.Event }}</td>
        </tr>
        {% endfor %}
      </tbody>
      
    </table>
  </div>

{% endblock %}




    

