
<html>
<head>
	<title>IdeaBox</title>
</head>
<body>
	<h1>Add Ideas</h1>
    <form method="POST" action="/">
      <label>Idea Name</label><br>
      <input type="text" name="title" required="required"><br>
      <label>Idea Description</label><br><br>
      <input type="text" name="description" required="required"><br>
      <input type="submit" value="Add">
    </form>

    <h1>Update Ideas</h1>
    <table>
      {% for idea in ideas %}
        <tr>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{idea.title}}" name="oldtitle">
              <input type="text" value="{{idea.title}}" name="newtitle">
              <input type="hidden" value="{{idea.description}}" name="olddescription">
              <input type="text" value="{{idea.description}}" name="newdescription">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{idea.id}}" name="idea_id">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>   

</body>
</html>