<!DOCTYPE html>
<html>
  <head>
    <title>Boss Machine 1996</title>
    <link rel="icon" type="image/ico" href="static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Russo+One|Source+Code+Pro" rel="stylesheet">
  </head>
  <body>
    <div id="heading">

      <div id="logo">
        <Link to="/">
          <img id="logo-img" className="button" src="static/img/logo.svg" alt="logo" />
        </Link>
      </div>
      <div id="title">
        <Link to="/">
          <span className="button">Boss Machine</span>
        </Link>
      </div>
  </div>
    
    {% content %} {% endblock %}
    <script src=""></script>
  </body>
</html>