{% extends base.html %}

{% content %}



   <div>
    <div id="ideas-landing">
      <div className="label meetings-label">
        Ideas
      </div>
      <table>
        <thead>
          <tr>
            <th id="th-time">Name</th>
            <th id="th-location">Income</th>
          </tr>
        </thead>
        <tbody>
          {% for idea in allIdeas %}
          <tr>
            <td />
            <td id="add-idea-td">
              <Link to="ideas/new">
              <img id="add-idea" className="button" src="static/img/add_button.svg" alt="add minion"/>
              </Link>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="total-money">
        <p>Total Money: { total }</p>
      </div>
    </div>
    <div className="button back-button">
      <Link to="/">
        <img className="button" src="static/img/arrow.svg" />
      </Link>
    </div>
  </div>

  {% endblock %}