{% extends base.html %}

{% content %}

    <div>
        <div id="minions-landing">
          <div id="minions-title" className="label minions-label">MINIONS.exe</div>
          <div id="all-minions">
            { minions }
            <div id="add-minion-button-grid" className="minion-grid">
              <Link to="/minions/new">
                <img id="add-minion-button" className="button" src="public/img/add_button.svg" alt="" />
              </Link>
            </div>
          </div>
        </div>
        <div className="button back-button">
          <Link to="/">
            <img className="button" src="public/img/arrow.svg" />
          </Link>
        </div>
      </div>

{% endblock %}