{% extends 'base.html' %}
{% block content %}

    <tr>
        <td className="work-x">
          <img className="button" onClick={() => deleteWork(work)} src={`public/img/x_button${idx % 2 === 0 ? '-trans' : ''}.svg`} />
        </td>
        <td className="work-title">{work.title}</td>
        <td className="work-desc">{work.description}</td>
        <td className="work-hours">{work.hours}</td>
        <td className="work-save" onClick={toggleEdit}>
          <div className=" button work-save-button">Edit</div>
        </td>
      </tr>

    {% endblock %}