{% extends 'base.html' %}
{% block content %}

<div id="work-container">
    <div id="work-label" className="label meetings-label">Work</div>
    <table className="work-table">
      <thead>
        <tr>
          <th className="work-x"></th>
          <th className="work-title">Title</th>
          <th className="work-desc">Descr.</th>
          <th className="work-hours">Hrs.</th>
          <th className="work-save"></th>
        </tr>
      </thead>
      <tbody>
        { workRows }
        {
          this.state.editingNewWork
          ? <SingleWorkRow saveNewWork={this.saveNewWork} newWork={true} editing={true} work={defaultWork} idx={nextIdx}/>
          : null
        }
        <tr>
          <td />
          <td />
          <td>
            <div onClick={this.toggleEdit} className="button add-work-button">
              { this.state.editingNewWork ? 'Cancel' : 'Add Work' }
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

{%endblock %}


