{% extends 'student_system/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
            
<div class="jumbotron" text-align: center>
    <h1>Student Grading System</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to the Student Grading System</h2>
        <p>
            It is a demo application for keeping track of Student Information, 
            built using Django and Bootstrap.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Code Information</h2>
        <p>You can see the code on github</p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/edimaudo/Web-projects/tree/master/fullstack_projects/student_grading_system">The Code is located here</a></p>
    </div>

</div>
        </main>
    </div>

{% endblock %}

   

