{% extends 'student_system/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
<h2>All Records Information</h2>

<table class="table">
    <thead>
        <tr>
            <th>Data Information</th>
            <th>Actions</th>  
            <th></th>  
        </tr>
    </thead>
    <tbody>
             <tr> 
                <td>Students</td> 
                <td> 
                    <a href="">Delete All Records</a> | 
                    <a href="">Back up All Records</a> | 
                    <a href="">Restore All Records</a> 
                </td>
            </tr> 
            <tr> 
                <td>Courses</td> 
                <td> 
                    <a href="">Delete All Records</a> | 
                    <a href="">Back up All Records</a> | 
                    <a href="">Restore All Records</a> 
                </td>
            </tr> 
            <tr> 
                <td>Departments</td> 
                <td> 
                    <a href="">Delete All Records</a> | 
                    <a href="">Back up All Records</a> | 
                    <a href="">Restore All Records</a> 
                </td>
            </tr> 
            <tr> 
                <td>Grades</td> 
                <td> 
                    <a href="">Delete All Records</a> | 
                    <a href="">Back up All Records</a> | 
                    <a href="">Restore All Records</a> 
                </td>
            </tr> 
            <tr> 
                <td>Attendance</td> 
                <td> 
                    <a href="">Delete All Records</a> | 
                    <a href="">Back up All Records</a> | 
                    <a href="">Restore All Records</a> 
                </td>
            </tr> 
     </tbody>
             
</table> 
</main> 
</div> 
  
{% endblock %}