{% extends 'student_system/base.html' %}

{% block content %}
<div class="container">
        <main role="main" class="pb-3">
<h1>Course Details</h1>



<div>
    <hr>
    <dl class="row">
        <dt class="col-sm-2">
            Course Code
        </dt>
        <dd class="col-sm-10">
            {{course.code }}
        </dd>
        <dt class="col-sm-2">
           Course Name
        </dt>
        <dd class="col-sm-10">
            {{course.name}}
        </dd>
        <dt class="col-sm-2">
           Department
        </dt>
        <dd class="col-sm-10">
            {{course.department}}
        </dd>

            </tbody></table>
    </dl>
</div>
<div>
    <a href="{% url 'course_edit' pk=course.pk %}">Edit</a> |
    <a href="{% url 'course' %}">Back to List</a>
</div>

        </main>
    </div>
{% endblock %}