{% extends 'student_system/base.html' %}

{% block content %}
<div class="container">
        <main role="main" class="pb-3">
<h1>Department Details</h1>



<div>
    <hr>
    <dl class="row">
        <dt class="col-sm-2">
            Department Name
        </dt>
        <dd class="col-sm-10">
            {{department.name }}
        </dd>

      
            </tbody></table>
    </dl>
</div>
<div>
    <a href="{% url 'department_edit' pk=department.pk %}">Edit</a> |
    <a href="{% url 'department' %}">Back to List</a>
</div>

        </main>
    </div>
{% endblock %}