{% extends 'student_system/base.html' %}

{% block content %}
<div class="container">
        <main role="main" class="pb-3">
<h1>Delete Student</h1>

<div>
    <hr>
    <dl class="row">
        <dt class="col-sm-2">
            Student
        </dt>
        <dd class="col-sm-10">
            {{grade.student }}
        </dd>
        <dt class="col-sm-2">
           Course
        </dt>
        <dd class="col-sm-10">
            {{grade.course}}
        </dd>
        <dt class="col-sm-2">
           Midterm
        </dt>
        <dd class="col-sm-10">
            {{grade.midterm}}
        </dd>
        <dt class="col-sm-2">
            Homework
        </dt>
        <dd class="col-sm-10">
            {{grade.homework}}
        </dd>
        <dt class="col-sm-2">
            Final
        </dt>
        <dd class="col-sm-10">
            {{grade.final}}
        </dd>
        <dt class="col-sm-2">
            Letter Grade
        </dt>
        <dd class="col-sm-10">
            {{grade.letter_grade}}
        </dd> 
    </dl>
</div>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" data-val="true" data-val-required="The ID field is required." id="ID" name="ID" value="{{grade.id}}">
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger">
    </div>
    
    <div class="form-group">
        <a href="{% url 'grade_edit' pk=grade.pk %}">Edit</a> |
        <a href="{% url 'grade' %}">Back to List</a>
    </div>
</form>



</main>
</div>
{% endblock %}