{% extends "base.html" %}


{% block content %}
<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Stock</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.stock }}</td>
      <td><a href="/update/{{product.id}}">Edit Product</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>


</table>


{% endblock %}