{% extends 'cd_library/base.html' %}

{% block content %}

<div class="container">
        <main role="main" class="pb-3">
            
<div class="jumbotron">
    <h1>CD Library</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the CD Library</h2>
        <p>
            It is an application for keeping track of CD Information
            built using Django and Bootstrap.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" target="_blank" href="https://books.agiliq.com/projects/djenofdjango/en/latest/models-tutorial.html">See the tutorial</a></p>
    </div>

</div>
        </main>
    </div>

{% endblock %}

   

