<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  

<div class="wrapper">
    <div class="header">
      <h1>Contact Manager</h1>
      <p>Contacts</p>
    </div>

    <p style="color: green"></p>

    <div class="sidebar">
      {% block sidebar %}{% endblock %}
    </div>

    <div class="main">
		{% block content %}{% endblock %}
    </div>



   <div class="footer">
      Contact Manager<br/>
    </div>
</div>
</body>