<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Database </title> 
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>


<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'product' %}">Product Database</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        {% include 'product/messages.html' %}
</header>

  <body>
        {% block content %}

        {% endblock %}

  </body>
     <!--Pagination-->
      <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if products.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ products.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}
                </span>

              {% if products.has_next %}
                  <a href="?page={{ products.next_page_number }}">next</a>
                  <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>
      <!--end of Pagination-->


</html>
