{% extends 'product/base.html' %}
{% block content %}
<div class="container">
        <main role="main" class="pb-3">
<h1>Product Information</h1>
<p>
    <a href="{% url 'product_create' %}">
        <button type="button" class="btn btn-primary">Create A New Product</button>
    </a>
</p>
<p>
    <form method="get" action="{% url 'product' %}">
        {% csrf_token %}
        <div class="form-actions no-color">
            <p>
                <div class="form-group">
                 <input type="search" name="search" aria-label="Search" placeholder="Product Search">
                    <input type="submit" value="Search" class="btn btn-secondary">
                    <a href="{% url 'product' %}">
                    <button type="button" class="btn btn-secondary">Back to Product List</button>
                    </a>
                </div>
            </p>
        </div>
    </form>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if products %}
        {% for product in products %}
             <tr> 
                <td> {{ product.Name}} </td> 
                <td> {{ product.Price }} </td> 
                <td> {{ product.Description}} </td> 
                <td> 
                    <a href="{% url 'product_edit' pk=product.pk %}">
                    <button type="button" class="btn btn-secondary">Edit</button>
                    </a>
                    <a href="{% url 'product_detail' pk=product.pk %}">
                       <button type="button" class="btn btn-secondary">Details</button> 
                    </a>
                    <a href="{% url 'product_delete' pk=product.pk %}">
                        <button type="button" class="btn btn btn-danger">Delete</button>
                    </a> 
                </td>
            </tr> 
     </tbody>
        {% endfor %}
</table> 
</main> 
</div> 
     {% else %}
        <h2>No Product data in the system</h2>
     {% endif %}
     
{% endblock %}