{% extends "base.html" %}

{% block content %}
<h1> Update Author </h1> 
<form action="l/ocallibrary/authors/update/{{author.id}}?_method=PATCH" method="POST">
    <input type="hidden"  name="id" value="{{author.id}}">

    <label>Title</label>
    <input type="text" name="title" required="" value="{{book.title}}"><br>

    <label>Name</label>
    <input type="text" name="name" required="" value = "{{author.name}}"><br>

    <label>Date of Birth</label>
    <input type="date" name="date_of_birth" value = "{{author.date_of_birth}}"><br>
  
    <input type="submit" value="Update">
  
</form>

{% endblock %}