{% extends "base.html" %}

{% block content %}

    <h1> Add Book </h1>    

    <form action="{{ url_for('author_add') }}" method="POST">
    	
        <label>Title</label>
        <input type="text" name="title" required=""><br>

        <label>Summary</label>
        <input type="text" name="summary"><br>

        <label>Author</label>
        <input type="text" name="author" required=""><br>

        <label>Genre</label>
        <input type="text" name="genre"><br>

        <label>Language</label>
        <input type="text" name="language"><br>

        <label>Imprint</label>
        <input type="text" name="imprint"><br>

        <label>ISBN</label>
        <input type = "text" name="ISBN" ><br>

        <br><input type="submit" value="Add">
    </form>
  

  {% endblock %}