{% extends "base.html" %}

{% block content %}
<h1> Update Book </h1> 
<form action="l/ocallibrary/books/update/{{book.id}}?_method=PATCH" method="POST">
    <input type="hidden"  name="id" value="{{book.id}}">

    <label>Title</label>
    <input type="text" name="title" required="" value="{{book.title}}"><br>

    <label>Summary</label>
    <input type="text" name="summary" value="{{book.summary}}"><br>

    <label>Author</label>
    <input type="text" name="author" required="" value="{{book.author}}"><br>

    <label>Genre</label>
    <input type="text" name="genre" value="{{book.genre}}"><br>

    <label>Language</label>
    <input type="text" name="language" value="{{book.language}}"><br>

    <label>Imprint</label>
    <input type="text" name="imprint" value="{{book.imprint}}"><br>

    <label>ISBN</label>
    <input type = "text" name="ISBN" value="{{book.ISBN}}"><br>
  
    <input type="submit" value="Update">
  
</form>




{% endblock %}